energymeter external node-red.txt
[{"id":"2d80a5b9.d27f5a","type":"mqtt-broker","z":"","broker":"op-en.se","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"fc29e5af.03d618","type":"mqtt in","z":"eb6ea849.149158","name":"House A -power","topic":"Testsites/Appartments/ApparmentA/power","broker":"2d80a5b9.d27f5a","x":113,"y":102,"wires":[["b0f53089.4f0ad","28d3331e.d72ccc"]]},{"id":"b0f53089.4f0ad","type":"debug","z":"eb6ea849.149158","name":"full raw msg","active":false,"console":"false","complete":"true","x":356,"y":125,"wires":[]},{"id":"77d358fa.882ca8","type":"http request","z":"eb6ea849.149158","name":"send","method":"POST","ret":"txt","url":"","x":708,"y":56,"wires":[["307eb764.cf8148"]]},{"id":"fae9c3a3.05164","type":"debug","z":"eb6ea849.149158","name":"full msg to send","active":false,"console":"false","complete":"true","x":706,"y":116,"wires":[]},{"id":"307eb764.cf8148","type":"debug","z":"eb6ea849.149158","name":"response","active":true,"console":"false","complete":"payload","x":863,"y":57,"wires":[]},{"id":"28d3331e.d72ccc","type":"function","z":"eb6ea849.149158","name":"do stuff","func":"var msg2 = {};\nmsg2.payload = JSON.parse(msg.payload);\nmsg2.payload = \"em value=\" + msg2.payload.value + \",time=\" + msg2.payload.time;\nmsg2.url = \"influx:8086/write?db=energy\";\nmsg2.measurement = \"energy\";\nreturn msg2;","outputs":1,"noerr":0,"x":430,"y":69,"wires":[["fae9c3a3.05164","77d358fa.882ca8"]]},{"id":"c29256ea.3d6da8","type":"mqtt in","z":"eb6ea849.149158","name":"MunktellSiencePark meter event","topic":"Testsites/MunktellSiencePark/mainmeter/meterevent","broker":"2d80a5b9.d27f5a","x":132.5,"y":251,"wires":[["53db036c.ac24fc"]]},{"id":"1ded234a.e212dd","type":"debug","z":"eb6ea849.149158","name":"full raw msg","active":false,"console":"false","complete":"true","x":526,"y":310,"wires":[]},{"id":"d358d56f.2ca728","type":"http request","z":"eb6ea849.149158","name":"send","method":"POST","ret":"txt","url":"","x":746,"y":245,"wires":[["49845573.b67bac"]]},{"id":"bcde3658.4321c8","type":"debug","z":"eb6ea849.149158","name":"full msg to send","active":false,"console":"false","complete":"true","x":785,"y":309,"wires":[]},{"id":"49845573.b67bac","type":"debug","z":"eb6ea849.149158","name":"response","active":false,"console":"false","complete":"payload","x":913,"y":249,"wires":[]},{"id":"4844a45d.b7bb5c","type":"function","z":"eb6ea849.149158","name":"generate influx msg","func":"var msg2 = {};\n// parse raw msg\nmsg2.payload = JSON.parse(msg.payload);\n// see full raw msg for values to enter\n// \"measurement firstvalue=\" + firstvalue + \",secondvalue=\" + secondvalue + ... + \",finalvalue\" + finalvalue;\nmsg2.payload = \"em value=\" + msg2.payload.power + \",value2=\" + msg2.payload.power/2 + \",time=\" + msg2.payload.time;\n//set ipadress and database ip-adress:port/write?db=database\nmsg2.url = \"influx:8086/write?db=mt2\";\n\nreturn msg2;","outputs":1,"noerr":0,"x":557,"y":248,"wires":[["bcde3658.4321c8","d358d56f.2ca728"]]},{"id":"53db036c.ac24fc","type":"delay","z":"eb6ea849.149158","name":"limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"6","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":357,"y":251,"wires":[["4844a45d.b7bb5c","1ded234a.e212dd"]]},{"id":"8c605475.739fa8","type":"comment","z":"eb6ea849.149158","name":"change limit to desired upload-rate to server","info":"","x":447,"y":207,"wires":[]}]