energymeter external node-red.txt
[{"id":"7e80f3ba.817f0c","type":"mqtt-broker","z":"","broker":"op-en.se","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"5a24488f.a5dbb8","type":"mqtt in","z":"364fa1d3.c9b05e","name":"MunktellSiencePark meter event","topic":"Testsites/MunktellSiencePark/mainmeter/meterevent","broker":"7e80f3ba.817f0c","x":166.5,"y":108,"wires":[["f090378c.0f6fc8"]]},{"id":"461fd0b5.b9e03","type":"debug","z":"364fa1d3.c9b05e","name":"full raw msg","active":false,"console":"false","complete":"true","x":560,"y":167,"wires":[]},{"id":"5755a2ba.a8aa5c","type":"http request","z":"364fa1d3.c9b05e","name":"send","method":"POST","ret":"txt","url":"","x":780,"y":102,"wires":[["d757722e.28a89"]]},{"id":"923a11f3.6dc5f","type":"debug","z":"364fa1d3.c9b05e","name":"full msg to send","active":false,"console":"false","complete":"true","x":819,"y":166,"wires":[]},{"id":"d757722e.28a89","type":"debug","z":"364fa1d3.c9b05e","name":"response","active":false,"console":"false","complete":"payload","x":947,"y":106,"wires":[]},{"id":"10cef65e.ef310a","type":"function","z":"364fa1d3.c9b05e","name":"generate influx msg","func":"var msg2 = {};\n// parse raw msg\nmsg2.payload = JSON.parse(msg.payload);\n// see full raw msg for values to enter\n// \"measurement firstvalue=\" + firstvalue + \",secondvalue=\" + secondvalue + ... + \",finalvalue\" + finalvalue;\nmsg2.payload = \"em value=\" + msg2.payload.power + \",value2=\" + msg2.payload.power/2 + \",time=\" + msg2.payload.time;\n//set ipadress and database ip-adress:port/write?db=database\nmsg2.url = \"influx:8086/write?db=mt2\";\n\nreturn msg2;","outputs":1,"noerr":0,"x":591,"y":105,"wires":[["923a11f3.6dc5f","5755a2ba.a8aa5c"]]},{"id":"f090378c.0f6fc8","type":"delay","z":"364fa1d3.c9b05e","name":"limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"6","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":391,"y":108,"wires":[["10cef65e.ef310a","461fd0b5.b9e03"]]},{"id":"ab4d9150.54b27","type":"comment","z":"364fa1d3.c9b05e","name":"change limit to desired upload-rate to server","info":"","x":481,"y":64,"wires":[]}]