mqtttest.nodered.txt
[{"id":"8679d0a.e1175b","type":"mqtt-broker","z":"a299690b.917598","broker":"192.168.43.35","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"206069cd.3eb586","type":"debug","z":"a299690b.917598","name":"","active":true,"console":"false","complete":"payload","x":346,"y":176,"wires":[]},{"id":"e845892f.be2bf8","type":"mqtt out","z":"a299690b.917598","name":"","topic":"sparkcore/RGBled","qos":"","retain":"","broker":"8679d0a.e1175b","x":365,"y":299,"wires":[]},{"id":"f45a0ca0.7b23f","type":"inject","z":"a299690b.917598","name":"RED","topic":"sparkcore/RGBled","payload":"RED","payloadType":"string","repeat":"","crontab":"","once":false,"x":106,"y":298,"wires":[["e845892f.be2bf8"]]},{"id":"76195c5a.e15cc4","type":"mqtt in","z":"a299690b.917598","name":"","topic":"sparkcore/debug","broker":"8679d0a.e1175b","x":107,"y":176,"wires":[["206069cd.3eb586"]]},{"id":"a9f37636.aa2c6","type":"inject","z":"a299690b.917598","name":"GREEN","topic":"sparkcore/RGBled","payload":"GREEN","payloadType":"string","repeat":"","crontab":"","once":false,"x":104,"y":370,"wires":[["e845892f.be2bf8"]]},{"id":"fef5feb.ab3678","type":"inject","z":"a299690b.917598","name":"BLUE","topic":"sparkcore/RGBled","payload":"BLUE","payloadType":"string","repeat":"","crontab":"","once":false,"x":107,"y":440,"wires":[["e845892f.be2bf8"]]},{"id":"4245a490.f0895c","type":"mqtt in","z":"a299690b.917598","name":"","topic":"analogread","broker":"8679d0a.e1175b","x":87,"y":96,"wires":[["206069cd.3eb586"]]},{"id":"d914b858.2a7878","type":"inject","z":"a299690b.917598","name":"","topic":"sparkcore/button","payload":"test_measurement test_key=123","payloadType":"string","repeat":"","crontab":"","once":false,"x":135,"y":548,"wires":[["95ce46c3.134728"]]},{"id":"1c1f2564.c32aeb","type":"http request","z":"a299690b.917598","name":"","method":"POST","ret":"txt","url":"http://192.168.43.35:8086/write?db=test","x":352,"y":639,"wires":[["95ce46c3.134728"]]},{"id":"95ce46c3.134728","type":"debug","z":"a299690b.917598","name":"","active":true,"console":"false","complete":"true","x":569,"y":637,"wires":[]},{"id":"e1addc84.8bb828","type":"mqtt in","z":"a299690b.917598","name":"","topic":"sparkcore/button","broker":"8679d0a.e1175b","x":139,"y":684,"wires":[["1c1f2564.c32aeb"]]},{"id":"f1075607.798a4","type":"inject","z":"a299690b.917598","name":"","topic":"testtopic","payload":"\"test\"","payloadType":"string","repeat":"","crontab":"","once":false,"x":165,"y":864,"wires":[["ddf7e4eb.c651b8"]]},{"id":"ddf7e4eb.c651b8","type":"json","z":"a299690b.917598","name":"","x":358,"y":865,"wires":[["52f42f4b.c4c078"]]},{"id":"7b5d4b.7ac912b4","type":"http request","z":"a299690b.917598","name":"","method":"GET","ret":"txt","url":"http://genge:abc123@192.168.43.35:3000/api/org","x":342,"y":944,"wires":[["c1261fb3.95469"]]},{"id":"52f42f4b.c4c078","type":"debug","z":"a299690b.917598","name":"","active":true,"console":"false","complete":"true","x":544,"y":862,"wires":[]},{"id":"8459185a.351288","type":"inject","z":"a299690b.917598","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":160,"y":946,"wires":[["7b5d4b.7ac912b4"]]},{"id":"c1261fb3.95469","type":"json","z":"a299690b.917598","name":"","x":521,"y":953,"wires":[["52f42f4b.c4c078"]]}]