node-red to db energy, person, energyperperson.txt
[{"id":"67c95788.baa2a","type":"mqtt-broker","z":"c255425e.2e4c18","broker":"192.168.43.35","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"dcc967c7.c12a2","type":"mqtt-broker","z":"","broker":"op-en.se","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"f8903f87.9b5b4","type":"mqtt in","z":"c255425e.2e4c18","name":"MunktellSiencePark meter event","topic":"Testsites/MunktellSiencePark/mainmeter/meterevent","broker":"dcc967c7.c12a2","x":719.0833129882812,"y":92,"wires":[["a5c02efb.169ba8","8080d433.b9e398"]]},{"id":"d0ed8cb9.975f2","type":"debug","z":"c255425e.2e4c18","name":"full raw msg","active":false,"console":"false","complete":"true","x":1115.5833129882812,"y":20,"wires":[]},{"id":"4243a1df.e99d5","type":"http request","z":"c255425e.2e4c18","name":"send","method":"POST","ret":"txt","url":"192.168.43.35:8086/write?db=mt2","x":1503.5833129882812,"y":160,"wires":[["248d4537.ddd6f2"]]},{"id":"39edcde2.83dc1a","type":"debug","z":"c255425e.2e4c18","name":"msg passed to final","active":false,"console":"false","complete":"true","x":1356.5833129882812,"y":25,"wires":[]},{"id":"248d4537.ddd6f2","type":"debug","z":"c255425e.2e4c18","name":"response","active":false,"console":"false","complete":"payload","x":1664.5833129882812,"y":160,"wires":[]},{"id":"11c98dee.04f7ba","type":"function","z":"c255425e.2e4c18","name":"generate influx base msg","func":"var msg2 = {};\nvar msg3 = {};\n// parse raw msg\nmsg2.payload = JSON.parse(msg.payload);\nmsg2.epp = msg2.payload.power;\n// see full raw msg for values to enter\n// \"measurement firstvalue=\" + firstvalue + \",secondvalue=\" + secondvalue + ... + \",finalvalue\" + finalvalue;\nmsg2.payload = \"emp value=\" + msg2.payload.power + \",time=\" + msg2.payload.time;\n//set ipadress and database ip-adress:port/write?db=database\n//msg2.url = \"192.168.43.35:8086/write?db=mt2\";\nmsg3.pass = msg2\nreturn [msg3, msg2];","outputs":"2","noerr":0,"x":1142.583251953125,"y":80,"wires":[["39edcde2.83dc1a","4c83a330.3a768c"],["ea8e333d.11ffc"]]},{"id":"a5c02efb.169ba8","type":"delay","z":"c255425e.2e4c18","name":"limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"6","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":943.5833129882812,"y":92,"wires":[["11c98dee.04f7ba","d0ed8cb9.975f2"]]},{"id":"3577b695.600cca","type":"comment","z":"c255425e.2e4c18","name":"change limit to desired upload-rate to server","info":"","x":824.5833129882812,"y":43,"wires":[]},{"id":"d5d72a3.5a51f58","type":"http request","z":"c255425e.2e4c18","name":"get from Influx","method":"GET","ret":"txt","url":"192.168.43.35:8086/query?db=inout&q=select sum(dir) from sensor","x":1019.5833129882812,"y":173,"wires":[["9cfd6d99.5e3c28","d6e5c869.bb181"]]},{"id":"4c83a330.3a768c","type":"change","z":"c255425e.2e4c18","name":"query input","rules":[{"t":"set","p":"url","to":"192.168.43.35:8086/query?db=inout&q=select sum(dir) from sensor"},{"t":"delete","p":"topic"}],"action":"","property":"","from":"","to":"","reg":false,"x":737.5833129882812,"y":173,"wires":[["d5d72a3.5a51f58","92060776.86c498"]]},{"id":"92060776.86c498","type":"debug","z":"c255425e.2e4c18","name":"sending query","active":false,"console":"false","complete":"true","x":977.5833129882812,"y":231,"wires":[]},{"id":"9cfd6d99.5e3c28","type":"function","z":"c255425e.2e4c18","name":"add persons from db","func":"var msg2 = msg.pass;\nvar msg3 = {};\nmsg3.payload = JSON.parse(msg.payload);\n//get persons from db results\nmsg3.payload = msg3.payload.results[0].series[0].values[0];\nif(msg3.payload[1] !== 0){\n    var epp = msg2.epp/msg3.payload[1];\n} else{\n    var epp = 0;\n}\nmsg2.payload += \",persons=\" + msg3.payload[1];\nmsg2.payload += \",energyperson=\" + epp;\nreturn [msg2, msg3];","outputs":"2","noerr":0,"x":1286.583251953125,"y":160,"wires":[["8fa0095d.e8931","4243a1df.e99d5"],["da1c0c62.78466","a4ba9578.83a56"]]},{"id":"8fa0095d.e8931","type":"debug","z":"c255425e.2e4c18","name":"final send","active":false,"console":"false","complete":"true","x":1515.5833129882812,"y":212,"wires":[]},{"id":"d6e5c869.bb181","type":"debug","z":"c255425e.2e4c18","name":"result","active":false,"console":"false","complete":"payload","x":1223.5833129882812,"y":264,"wires":[]},{"id":"ea8e333d.11ffc","type":"debug","z":"c255425e.2e4c18","name":"","active":false,"console":"false","complete":"true","x":1448.5833129882812,"y":82,"wires":[]},{"id":"206adc8d.46427c","type":"mqtt in","z":"c255425e.2e4c18","name":"","topic":"sensor1/motion","broker":"67c95788.baa2a","x":607.88330078125,"y":274.8833312988281,"wires":[["48edb8.8e4b8248","1d7efdda.6b18e2"]]},{"id":"48edb8.8e4b8248","type":"function","z":"c255425e.2e4c18","name":"","func":"msg2 = {};\nmsg2.payload = \"sensor,room=room1 dir=\" + msg.payload;\nmsg2.url = \"192.168.43.35:8086/write?db=inout\";\nreturn msg2;","outputs":1,"noerr":0,"x":780.88330078125,"y":278.8833312988281,"wires":[["26908136.6140c6","72c6949f.7f511c"]]},{"id":"26908136.6140c6","type":"http request","z":"c255425e.2e4c18","name":"","method":"POST","ret":"txt","url":"","x":989.88330078125,"y":299.8833312988281,"wires":[["389019da.35932e"]]},{"id":"389019da.35932e","type":"debug","z":"c255425e.2e4c18","name":"","active":false,"console":"false","complete":"payload","x":1182.8832397460938,"y":350.8833312988281,"wires":[]},{"id":"72c6949f.7f511c","type":"debug","z":"c255425e.2e4c18","name":"","active":false,"console":"false","complete":"true","x":917.8833312988281,"y":391.8833312988281,"wires":[]},{"id":"1d7efdda.6b18e2","type":"debug","z":"c255425e.2e4c18","name":"","active":false,"console":"false","complete":"payload","x":717.8833312988281,"y":361.8833312988281,"wires":[]},{"id":"8080d433.b9e398","type":"function","z":"c255425e.2e4c18","name":"Elförbrukning till kvot","func":"var obj = JSON.parse(msg.payload);\nmsg.topic = \"app/powerUsage\";\nmsg.type = \"data\";\nmsg.payload = '{\"value\": ' +obj.power/50000+'}';\nreturn msg;","outputs":1,"noerr":0,"x":1147.88330078125,"y":443.8833312988281,"wires":[["60a74ce4.aee754","3b5916c3.6f0eb2"]]},{"id":"60a74ce4.aee754","type":"mqtt out","z":"c255425e.2e4c18","name":"Send to widget","topic":"app/powerUsage","qos":"","retain":"","broker":"dcc967c7.c12a2","x":1368.88330078125,"y":410.8833312988281,"wires":[]},{"id":"3b5916c3.6f0eb2","type":"debug","z":"c255425e.2e4c18","name":"","active":false,"console":"false","complete":"true","x":1368.88330078125,"y":471.8833312988281,"wires":[]},{"id":"da1c0c62.78466","type":"function","z":"c255425e.2e4c18","name":"Elförbrukning person","func":"//var obj = JSON.parse(msg.payload);\nmsg2 = {}\nmsg2.topic = \"app/numPeople\";\nmsg2.type = \"data\";\nmsg2.payload = '{\"value\": ' + msg.payload[1]+'}';\nreturn msg2;","outputs":1,"noerr":0,"x":1443.6001586914062,"y":307.63330078125,"wires":[["4300e100.f4f548"]]},{"id":"4300e100.f4f548","type":"mqtt out","z":"c255425e.2e4c18","name":"Send to widget","topic":"app/numPeople","qos":"","retain":"","broker":"dcc967c7.c12a2","x":1618.1167602539062,"y":361.6333312988281,"wires":[]},{"id":"a4ba9578.83a56","type":"debug","z":"c255425e.2e4c18","name":"","active":false,"console":"false","complete":"true","x":1469.8833618164062,"y":270.8833312988281,"wires":[]}]