node-red to db energy, person, energyperperson.txt
[{"id":"3d356037.c2caa","type":"mqtt-broker","z":"","broker":"op-en.se","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"486677ec.b79988","type":"mqtt in","z":"bb056ac.f44fa98","name":"MunktellSiencePark meter event","topic":"Testsites/MunktellSiencePark/mainmeter/meterevent","broker":"3d356037.c2caa","x":132.5,"y":164,"wires":[["f0fee15b.0f012"]]},{"id":"a24665b4.5db998","type":"debug","z":"bb056ac.f44fa98","name":"full raw msg","active":false,"console":"false","complete":"true","x":529,"y":92,"wires":[]},{"id":"3acce2b4.c5331e","type":"http request","z":"bb056ac.f44fa98","name":"send","method":"POST","ret":"txt","url":"","x":917,"y":232,"wires":[["d378c588.2c8738"]]},{"id":"a9e87628.561788","type":"debug","z":"bb056ac.f44fa98","name":"msg passed to final","active":false,"console":"false","complete":"true","x":770,"y":97,"wires":[]},{"id":"d378c588.2c8738","type":"debug","z":"bb056ac.f44fa98","name":"response","active":false,"console":"false","complete":"payload","x":1078,"y":232,"wires":[]},{"id":"851c55a5.7ae3a8","type":"function","z":"bb056ac.f44fa98","name":"generate influx base msg","func":"var msg2 = {};\nvar msg3 = {};\n// parse raw msg\nmsg2.payload = JSON.parse(msg.payload);\nmsg2.epp = msg2.payload.power;\n// see full raw msg for values to enter\n// \"measurement firstvalue=\" + firstvalue + \",secondvalue=\" + secondvalue + ... + \",finalvalue\" + finalvalue;\nmsg2.payload = \"emp value=\" + msg2.payload.power + \",time=\" + msg2.payload.time;\n//set ipadress and database ip-adress:port/write?db=database\nmsg2.url = \"influx:8086/write?db=mt2\";\nmsg3.pass = msg2\nreturn [msg3, msg2];","outputs":"2","noerr":0,"x":552,"y":158,"wires":[["a9e87628.561788","9afaa8d8.650558"],["ba65e639.459a18"]]},{"id":"f0fee15b.0f012","type":"delay","z":"bb056ac.f44fa98","name":"limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"6","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":357,"y":164,"wires":[["851c55a5.7ae3a8","a24665b4.5db998"]]},{"id":"202c35b2.dfd3ca","type":"comment","z":"bb056ac.f44fa98","name":"change limit to desired upload-rate to server","info":"","x":238,"y":115,"wires":[]},{"id":"2862c5f1.d79d3a","type":"http request","z":"bb056ac.f44fa98","name":"get from Influx","method":"GET","ret":"txt","url":"","x":430,"y":243,"wires":[["1319a048.ece66","449b7f9.fbb648"]]},{"id":"9afaa8d8.650558","type":"change","z":"bb056ac.f44fa98","name":"query input","rules":[{"t":"set","p":"url","to":"influx:8086/query?db=inout&q=select sum(dir) from sensor"},{"t":"delete","p":"topic"}],"action":"","property":"","from":"","to":"","reg":false,"x":151,"y":245,"wires":[["2862c5f1.d79d3a","41bf5320.be40ac"]]},{"id":"41bf5320.be40ac","type":"debug","z":"bb056ac.f44fa98","name":"sending query","active":false,"console":"false","complete":"true","x":391,"y":303,"wires":[]},{"id":"1319a048.ece66","type":"function","z":"bb056ac.f44fa98","name":"add persons from db","func":"var msg2 = msg.pass;\nvar msg3 = {};\nmsg3.payload = JSON.parse(msg.payload);\n//get persons from db results\nmsg3.payload = msg3.payload.results[0].series[0].values[0];\nvar epp = msg2.epp/msg3.payload[1];\nmsg2.payload += \",persons=\" + msg3.payload[1];\nmsg2.payload += \",energyperson=\" + epp;\nreturn msg2;","outputs":"1","noerr":0,"x":698,"y":235,"wires":[["573dd1fc.a8c23","3acce2b4.c5331e"]]},{"id":"573dd1fc.a8c23","type":"debug","z":"bb056ac.f44fa98","name":"final send","active":false,"console":"false","complete":"true","x":929,"y":284,"wires":[]},{"id":"449b7f9.fbb648","type":"debug","z":"bb056ac.f44fa98","name":"result","active":false,"console":"false","complete":"payload","x":637,"y":336,"wires":[]},{"id":"ba65e639.459a18","type":"debug","z":"bb056ac.f44fa98","name":"","active":false,"console":"false","complete":"true","x":862,"y":154,"wires":[]}]